.home__collection-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.home__collection__items {
  width: 100%;

  .swiper-slide {
    height: 600px;
  }
}


